body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.username-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.username-container label {
    margin-right: 10px;
}

.launchers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

button {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

button img {
    width: 40px; /* Adjust this size as needed */
    height: 40px; /* Ensure it's a square */
}

button span {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #e0e0e0;
}
